#information-content{
display: flex;
background-color: #fff;
max-width: 1280px;
margin: auto;
}

#content-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
    border-right: 2px solid lightgray  ;
}

#content-left img{
    width: 100%;
}

#content-left h2 {
    margin: 32;
    bottom: 24px;
}

.content-left-bottom{
    margin-bottom: 32px;
}

#content-right{
    width: 40%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 #content-right >div{
    padding: 16px 16px;
    display: flex;
    align-content:center ;
 }

 #content-right div div{
    width: 65%;
    flex-direction: column;
    justify-content: center;
 }

 #content-right div img{
    width: 35%;
    max-width: 100%;
    height: auto;
 }

 .content-right-text{
    display: flex;
    padding-left: 20px;
 }

.content-right-text h2 {
    font-size: 2.5rem;
    font-weight: 500;
    font-size: 20px;
    color:rgb(31, 32, 33)
    margin-bottom: 8px;
}

.content-right-text p{
    font-size: 1rem;
    font-;
    margin-top: 8px ;
}

.read-more {
  font-size: 1rem;
  color: #6cb2de;
}

#content-right-3{
background-color: #e8e5e5;
}

/* thesis */
#thesis{
display: flex;
justify-content: center;
flex-direction: column;
padding: 32px 0px 32px 0px;
background-color: #eaebec;
max-width: 1280px;
margin: 0 auto;
}

#thesis >h1 {
    margin: 0px auto 32px auto;
    font-size: 32px;
}